.about {
  display: flex;
  align-items: center;
  gap: 70px;
  margin: 120px auto;
  max-width: 1200px;
  padding: 0 20px;
}

.about_logo {
  flex: 0 0 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about_logo img {
  width: 70%;
  height: auto;
  display: block;
}

.about_text_container {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 600;
  gap: 15px;
  flex: 0 0 60%;
}

.about_text {
  width: 100%;
}

.about_text_list {
  display: grid;
  grid-template-columns: 422px 422px;
  gap: 40px 260px;
}

.about_text_item {
  list-style-type: none; /* Удалить стандартный стиль списка */
  position: relative; /* Для позиционирования псевдоэлементов */
  padding-left: 30px; /* Отступ для размещения пользовательского маркера */
  text-align: left; /* Выравнивание текста по левому краю */
}

.about_text_item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 5%; /* Выравнивание круга по верхнему краю */
  transform: translateY(0); /* Удалить вертикальное центрирование */
  width: 18px; /* Размер внешнего круга */
  height: 18px; /* Размер внешнего круга */
  background-color: transparent; /* Цвет внешнего круга */
  border: 1px solid rgb(199, 218, 53); /* Граница для создания круга */
  border-radius: 50%; /* Сделать круг */
}

.about_text_item::after {
  content: '';
  position: absolute;
  left: 4px; /* Центрирование точки внутри круга */
  top: 8px; /* Центрирование точки внутри круга */
  width: 10px; /* Размер точки */
  height: 10px; /* Размер точки */
  background-color: rgb(199, 218, 53); /* Цвет точки */
  border-radius: 50%; /* Сделать круг */
}

.about_text_item_text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  color: #333;
}

.about_title {
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 80px;
  color: #000;
}