.team {
  margin: 120px auto;
  max-width: 1600px; /* Ensure the team section has the same max-width as the grid */
  padding: 0 20px; /* Add padding to align with the grid */
}

.heading {
  font-size: 40px;
  font-weight: 400;
  text-align: left;
  margin-bottom: 2rem;
  max-width: 1600px; /* Ensure the heading has the same max-width as the grid */
  margin: 0 auto 2rem; /* Center the heading within the team section */
  /* margin-left: 135px; */
}

.teamGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 22px 30px;
  margin: 2rem auto;
  max-width: 1600px;
  /* padding: 0 20px; */
}

.teamMember {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 0 1 300px;
  min-height: 450px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.teamMember:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.teamMember img {
  width: 100%;
  aspect-ratio: 3/4;
  border-radius: 10px;
  object-fit: cover;
  margin-bottom: 15px;
}

.teamMember h3 {
  margin: 10px 0;
  font-size: 23px;
  font-weight: 400;
  text-align: center;
}

.teamMember p {
  text-align: center;
  font-size: 1.1rem;
  color: #666;
  margin-bottom: auto;
}

.modalContentWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.modalContentWrapper h3 {
  margin-top: 15px;
  font-size: 1.5rem;
  color: #333;
}

.modalContentWrapper p {
  margin-top: 10px;
  font-size: 1rem;
  color: #555;
}
