.qrButton {
    padding: 12px 24px;
    background-color: transparent;
    color: white;
    border: 1px solid rgb(233, 237, 198);;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
    border-radius: 15px;
  }
  
  .qrButton:hover {
    color: #333;
    background: rgb(233, 237, 198);
    transition: all 0.3s ease-in-out;
  }
  
  .qrContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 20px;
    background-color: white;
    border-radius: 12px;
  }
  
  .qrContainer p {
    color: #333;
    text-align: center;
    margin: 0;
  }
  