.footer {
  background-color: #111111;
  color: white;
  text-align: center;
  padding: 1rem;
  width: 100%;
  flex-shrink: 0;
  height: 61px; /* Устанавливаем фиксированную высоту для расчета */
  z-index: 1;
}