.contacts {
  padding: 2rem;
  text-align: center;
  background-color: #e9e9e9;
}

.title {
  /* padding-bottom: 2rem; */
}

.mapBox {
padding: 2rem 0;
}

.contacts .socialLinks {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.contacts .socialLinks a {
  color: #333;
  font-size: 1.8rem;
  transition: color 0.3s ease;
}

.contacts .socialLinks a:hover {
  color: #1a1a1a;
}